@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');
$Source-Sans-Pro: 'Source Sans Pro', Arial;
$aboutTopicColor: #4DB0D8;

.aboutContainer {
    height: 950px;
    background-color: white;
    position: relative;
    top: 90px;
}

.watermark {
    position: absolute;
    left: 7.8rem;
    top: 4.8rem;
    z-index: 10;
    user-select: none;
    height: 21rem;
}

// 3.43
.title {
    font-family: $Source-Sans-Pro;
    font-size: 3.43rem;
    color: #646363;
    display: inline-block;
    border-bottom: 7px solid #0F98CF;
    margin-left: 11.3rem;
    margin-top: 19.9rem;
    letter-spacing: 2px;
}

.aboutLinkContainer {
    margin-top: 5.25rem;
    margin-left: 11.3rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.aboutLink {
    font-size: 2.45rem;
    color: $aboutTopicColor;
    margin-bottom: 2.68rem;
    font-family: $Source-Sans-Pro;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
}

.aboutLink:hover .twoNextLink,
.aboutLink:hover {
    color: #1f6f8f;
}

.twoNextLink {
    height: 1.4rem;
    margin-left: 1.25rem;
}

.weAreMC {
    position: absolute;
    top: 15.87rem;
    left: 64.5rem;
    width: 52.5rem;
}

.leftDec {
    position: absolute;
    top: 25.56rem;
    height: 21rem;
}

.rightDec {
    height: 24.75rem;
    position: absolute;
    left: 119.8rem;
    top: 58.9rem;
}